<div class="clr-row">
  <div class="clr-col-lg-4 clr-col-md-8 clr-col-12" style="max-width: 440px;">
    <div class="card">
      <div class="card-block">
        <div class="card-text">
          <form #form="ngForm" clrForm clrLayout="horizontal">
            <app-autofield
              [field]="fields.street"
              [(entity)]="address"
              [label]="'street' | translate"
            ></app-autofield>
            <app-autofield
              [field]="fields.zip"
              width="90px"
              [(entity)]="address"
              [label]="'zip' | translate"
            ></app-autofield>
            <app-autofield
              [field]="fields.city"
              [(entity)]="address"
              [label]="'city' | translate"
            ></app-autofield>
            <app-country-picker
              name="country"
              [label]="'country' | translate"
              [(ngModel)]="address.country"
            ></app-country-picker>
            <app-autofield
              [field]="fields.addressType!"
              [(entity)]="address"
              [label]="'addressType' | translate"
            ></app-autofield>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" style="color:var(--cds-alias-status-danger);" (click)="parent.deleteRelationItem('addresses', address)">{{ 'removeAddress' | translate }}</button>
      </div>
    </div>
  </div>
</div>
